
body {
background: rgb(112;128;144);
padding-left: 10px;
padding-right: 10px;
padding-top: 20px;
}

div {
  display: block;
}
.partie01{
  padding: 1px 10px 10px 0px;
  background:rgb(255, 230, 230)
}

.conatinerpartie1 {
  width: auto;
  height: 100px;
}



h1 {
  color: rgb(32, 32, 32);
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 400px;
}

p  {
  color: rgb(64, 64, 64);
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100px;
}



.ho{
  color: rgb(200, 100, 50);
}

background{
  color: rgb(300, 300, 300);
}




nav ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}




#h1{
padding-top: 0em;
}

#section02{
margin: 65px 0px 10px 6px;
min-height: 30vh;
padding-bottom: 0em;
}


#section03 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  position: relative;

}

.coqphoto{
  height: 300px;
}

.pearlphoto{
  height: 200px;
  position: relative;
  bottom: 2px;

}


/* DEUXIÈMRE SECTION*/

.partie02 {
  padding: 30px 20px 200px 30px;
  background-image: url('images/fox jump.gif');
  background-attachment: fixed;
  background-size: cover;
}


.container02 {
  width: 202px;
  height: 200px;
}

.titrefox {

  margin-bottom: 20px;
  text-align: left;



}

.textfox {
  margin-top: 0em;
  column-count: 4;
  column-fill: balance;
  width: 50%;
  text-align: justify;
}







/* TROISÈME SECTION*/
.partie03 {
  padding: 30px 20px 200px 30px;
  background-color: rgb(255, 50, 40);
  background-image: url('images/dog painting.2psd.jpg');
  background-size: cover;

}

.container03 {
  width: 102px;
  height: 300px;
}

.legroupedog{
  margin-left: 100px;
}

.textdog {
  font-size: 30px;
}
