
h1{
  font-family: 'Libre Baskerville', serif;
  font-size: 100px;
}

p{
  font-family: 'Libre Baskerville', serif;
  font-size: 20px;
}

.phrase1{
  font-size: 20px;
}








.Aesop{
  font-family: 'Libre Baskerville', serif;
  font-size: 20px;
  color: rgb(69, 69, 69);
}

.background{
  font-family: 'Libre Baskerville', serif;
  font-size: 20px;
  color: rgb(69, 69, 69);
}

.thepearl{
  font-family: 'Libre Baskerville', serif;
  font-size: 20px;
  color: rgb(69, 69, 69);
}

.thechicken{
  font-family: 'Libre Baskerville', serif;
  font-size: 20px;
  color: rgb(69, 69, 69);

}
