
h1{
  font-family: 'Libre Baskerville', serif;
  font-size: 100px;
}

p{
  font-family: 'Libre Baskerville', serif;
  font-size: 20px;
}

.phrase1{
  font-size: 20px;
}








.Aesop{
  font-family: 'Libre Baskerville', serif;
  font-size: 20px;
  color: rgb(69, 69, 69);
}

.background{
  font-family: 'Libre Baskerville', serif;
  font-size: 20px;
  color: rgb(69, 69, 69);
}

.thepearl{
  font-family: 'Libre Baskerville', serif;
  font-size: 20px;
  color: rgb(69, 69, 69);
}

.thechicken{
  font-family: 'Libre Baskerville', serif;
  font-size: 20px;
  color: rgb(69, 69, 69);

}





/* 2eme text*/
.titrefox {
  font-size: 30px;
  color: rgb(102, 102, 115);
}

.textfox {
  color: rgb(102, 102, 109);
}





/* 3eme text*/

.titredog {
  color: white;
  font-size: 40px;
}



.textdog {
  color: white;
}
